@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}
*{
    margin: 0;
    padding: 0;
    
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
} 

header {
    background-color: black;
    color: white;
    text-align: center;
    
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 8.5vw;
}

header > p {
    padding-bottom: 50px;
}

/* Estilos para links */
header a, footer a {
    color: white;
    text-decoration: none;
}

/* Link não visitado */
header a:link, footer a:link {
    color: white;
}

/* Link já visitado */
header a:visited, footer a:visited {
    color: #cccccc; /* Cor cinza claro para links visitados */
}

/* Link quando passa o mouse em cima */
header a:hover, footer a:hover {
    color: white;
    text-decoration: underline;
    font-weight: bolder;
}

/* Link quando está sendo clicado */
header a:active, footer a:active {
    color: yellow;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3vw;
}

section > p {
    padding-bottom: 2em;
}


section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(54, 52, 52);
    color: white;
    box-shadow: 6px 6px 13px 0px black;
    background-attachment: fixed;
}

section.imagem p {
    display: inline-block;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.505);  
    text-shadow: 1px 1px 0px black;

}

section.imagem#img01 {
    background-image: url(../d012/imagens/background001.jpg);
    background-position: right center;
    background-size: cover;

}

section.imagem#img02 {
    background-image: url(../d012/imagens/background002.jpg);
    background-size: cover;
    
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
   
}